<div>lookups</div><div>-----------<br></div>

In [1]:
import org.apache.spark.rdd._
import org.apache.spark.sql._
import org.apache.spark.sql.types.StructType
import org.apache.spark.sql.functions._
import group.research.aging.spark.extensions._

In [2]:
import ammonite.ops._
import ammonite.ops.ImplicitWd._

<div><b>Making a list of species</b></div><div>-------------------------------<br></div>

In [4]:
val anage = spark.readTSV("/data/databases/anage/anage_data.tsv", headers = true)
 .withColumn("scientific_name", concat($"Genus", lit(" "), $"Species"))
anage.show()

+------+--------+----------+------------+-----------+--------------+-------------+------------+--------------------+----------------------+--------------------+---------------------------+--------------+------------------+-------------------------+--------------------------------+----------------+------------------+----------------+--------------------+-----------------------+------+---------------+-----------+------------+------------+----------+------------------+-------------+---------------+--------------------+--------------------+
|HAGRID| Kingdom|    Phylum|       Class|      Order|        Family|        Genus|     Species|         Common name|Female maturity (days)|Male maturity (days)|Gestation/Incubation (days)|Weaning (days)|Litter/Clutch size|Litters/Clutches per year|Inter-litter/Interbirth interval|Birth weight (g)|Weaning weight (g)|Adult weight (g)|Growth rate (1/days)|Maximum longevity (yrs)|Source|Specimen origin|Sample size|Data quality|IMR (per yr)|MRDT (yrs)|Metabolic rate (W)|Body mass (g)|Temperature (K)|          References|     scientific_name|
+------+--------+----------+------------+-----------+--------------+-------------+------------+--------------------+----------------------+--------------------+---------------------------+--------------+------------------+-------------------------+--------------------------------+----------------+------------------+----------------+--------------------+-----------------------+------+---------------+-----------+------------+------------+----------+------------------+-------------+---------------+--------------------+--------------------+
|     3|Animalia|Arthropoda|Branchiopoda|Diplostraca|    Daphniidae|      Daphnia|   pulicaria|             Daphnia|                  null|                null|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                   0.19|  null|        unknown|     medium|  acceptable|        null|      null|              null|         null|           null|      1294,1295,1296|   Daphnia pulicaria|
|     5|Animalia|Arthropoda|     Insecta|    Diptera| Drosophilidae|   Drosophila|melanogaster|           Fruit fly|                     7|                   7|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                    0.3|  null|      captivity|      large|  acceptable|        0.05|      0.04|              null|         null|           null|2,20,32,47,53,68,...|Drosophila melano...|
|     6|Animalia|Arthropoda|     Insecta|Hymenoptera|        Apidae|         Apis|   mellifera|           Honey bee|                  null|                null|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                    8.0|   812|        unknown|     medium|  acceptable|        null|      null|              null|         null|           null|63,407,408,741,80...|      Apis mellifera|
|     8|Animalia|Arthropoda|     Insecta|Hymenoptera|    Formicidae|Cardiocondyla|   obscurior|Cardiocondyla obs...|                  null|                null|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                    0.5|  1293|      captivity|     medium|  acceptable|        null|      null|              null|         null|           null|                1293|Cardiocondyla obs...|
|     9|Animalia|Arthropoda|     Insecta|Hymenoptera|    Formicidae|       Lasius|       niger|    Black garden ant|                  null|                null|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                   28.0|   411|        unknown|     medium|  acceptable|        null|      null|              null|         null|           null|         411,813,814|        Lasius niger|
|    10|Animalia|Arthropoda|     Insecta|Hymenoptera|    Formicidae|     Pheidole|     dentata|    Pheidole dentata|                  null|                null|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                    0.4|  1156|      captivity|     medium|questionable|        null|      null|              null|         null|           null|                1156|    Pheidole dentata|
|    11|Animalia|Arthropoda|     Insecta|Lepidoptera|   Nymphalidae|     Bicyclus|     anynana|Squinting bush brown|                    15|                  15|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                    0.5|   811|           wild|     medium|  acceptable|        null|      null|              null|         null|           null|         418,809,811|    Bicyclus anynana|
|    12|Animalia|Arthropoda|Malacostraca|   Decapoda|   Nephropidae|      Homarus|  americanus|    American lobster|                  null|                null|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                  100.0|     2|           wild|     medium|  acceptable|        null|      null|              null|         null|           null|            2,13,594|  Homarus americanus|
|    15|Animalia|  Chordata|    Amphibia|      Anura|Bombinatoridae|      Bombina|     bombina|      Firebelly toad|                  1095|                1095|                       null|          null|             190.0|                     null|                            null|            null|              null|            null|                null|                   20.0|   485|      captivity|     medium|  acceptable|        null|      null|              null|         null|           null|         485,525,749|     Bombina bombina|
|    16|Animalia|  Chordata|    Amphibia|      Anura|Bombinatoridae|      Bombina|  orientalis|Oriental firebell...|                  null|                null|                       null|          null|             148.0|                     null|                            null|            null|              null|            null|                null|                   15.8|   451|      captivity|      large|  acceptable|        null|      null|              null|         null|           null|         451,525,749|  Bombina orientalis|
|    17|Animalia|  Chordata|    Amphibia|      Anura|Bombinatoridae|      Bombina|   variegata| Yellow-bellied toad|                  null|                null|                       null|          null|              73.0|                     null|                            null|            null|              null|            null|                null|                   29.0|  null|      captivity|     medium|  acceptable|        null|      null|              null|         null|           null|          24,525,749|   Bombina variegata|
|    18|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|  americanus|       American toad|                   910|                 910|                          8|          null|            6000.0|                     null|                             365|            null|              null|         21.7667|                null|                   36.0|   525|      captivity|     medium|  acceptable|        null|      null|           0.00829|         21.6|          288.0|  37,268,426,525,749| Anaxyrus americanus|
|    19|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|      boreas|        Western toad|                  1095|                1095|                          6|          null|            5200.0|                     null|                            null|            null|              null|            null|                null|                   11.5|   451|      captivity|     medium|  acceptable|        null|      null|              null|         null|           null|     437,451,526,749|     Anaxyrus boreas|
|    20|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|     canorus|       Yosemite toad|                  1825|                1460|                         11|          null|            1750.0|                     null|                            null|            null|              null|            null|                null|                   15.0|   503|           wild|     medium|  acceptable|        null|      null|              null|         null|           null|         503,526,749|    Anaxyrus canorus|
|    21|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|    cognatus|   Great plains toad|                   730|                 730|                          4|          null|           11074.0|                     null|                            null|            null|              null|            null|                null|                   10.7|   485|      captivity|      small|questionable|        null|      null|              null|         null|           null|         485,526,749|   Anaxyrus cognatus|
|    22|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|     debilis|          Green toad|                  null|                null|                       null|          null|            1300.0|                     null|                            null|            null|              null|            null|                null|                   12.4|   451|      captivity|      small|  acceptable|        null|      null|              null|         null|           null|             451,749|    Anaxyrus debilis|
|    23|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|  hemiophrys|       Canadian toad|                   730|                 730|                       null|          null|              null|                     null|                            null|            null|              null|            null|                null|                   13.3|   451|      captivity|      small|  acceptable|        null|      null|              null|         null|           null|             451,528| Anaxyrus hemiophrys|
|    24|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|   punctatus|    Red-spotted toad|                   730|                 730|                       null|          null|            1500.0|                     null|                            null|            null|              null|            null|                null|                   11.3|   485|      captivity|     medium|  acceptable|        null|      null|              null|         null|           null|             485,749|  Anaxyrus punctatus|
|    25|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|  retiformis|  Sonoran green toad|                  null|                null|                          2|          null|              null|                     null|                            null|            null|              null|            null|                null|                   15.3|   451|      captivity|      small|  acceptable|        null|      null|              null|         null|           null|             451,749| Anaxyrus retiformis|
|    26|Animalia|  Chordata|    Amphibia|      Anura|     Bufonidae|     Anaxyrus|  terrestris|       Southern toad|                  null|                null|                          3|          null|            3250.0|                     null|                            null|            null|              null|          19.267|                null|                   10.0|   451|      captivity|     medium|  acceptable|        null|      null|           0.00698|         19.2|          288.0|          37,451,749| Anaxyrus terrestris|
+------+--------+----------+------------+-----------+--------------+-------------+------------+--------------------+----------------------+--------------------+---------------------------+--------------+------------------+-------------------------+--------------------------------+----------------+------------------+----------------+--------------------+-----------------------+------+---------------+-----------+------------+------------+----------+------------------+-------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [5]:
anage.columns.toList

List(HAGRID, Kingdom, Phylum, Class, Order, Family, Genus, Species, Common name, Female maturity (days), Male maturity (days), Gestation/Incubation (days), Weaning (days), Litter/Clutch size, Litters/Clutches per year, Inter-litter/Interbirth interval, B

In [6]:
val ensemble_species = spark.readTSV("/data/ensembl/99/Species.csv", sep=",", headers = true)
 .withColumnRenamed("Scientific Name", "scientific_name")
 .withColumnRenamed("Taxon ID", "tax_id")
 .select("scientific_name", "tax_id")

 ensemble_species.show()

+--------------------+-------+
|     scientific_name| tax_id|
+--------------------+-------+
|Orycteropus afer ...|1230840|
|Chelonoidis abing...| 106734|
|Struthio camelus ...| 441894|
|  Gopherus agassizii|  38772|
|         Mus spretus|  10096|
|       Vicugna pacos|  30538|
|Marmota marmota m...|   9994|
|    Poecilia formosa|  48698|
|   Castor canadensis|  51338|
|   Bison bison bison|  43346|
|    Ursus americanus|   9643|
|      Neovison vison| 452646|
|Colobus angolensi...| 336983|
| Anolis carolinensis|  28377|
| Camelus dromedarius|   9838|
| Urocitellus parryii|   9999|
|   Salvator merianae|  96440|
|Dasypus novemcinctus|   9361|
|Scleropages formosus| 113540|
|     Clupea harengus|   7950|
+--------------------+-------+
only showing top 20 rows

In [7]:
val species = anage.join(ensemble_species, "scientific_name")
  .withColumn("url", concat(lit("https://www.ensembl.org/"), $"Genus", lit("_"), $"Species"))
  .withColumnRenamed("tax_id", "taxon_id")
  .sort($"Class", $"Maximum longevity (yrs)".desc)
  .select($"taxon_id".as[String],
      $"scientific_name".as("scientific_name").as[String], 
      $"Common name".as("common_name").as[String],
      $"url".as[String],
  $"Class".as("class").as[String], 
  $"Maximum longevity (yrs)".as("lifespan").as[String],
  $"Body mass (g)".as("mass_g").as[String],
  $"Metabolic rate (W)".as("metabolic_rate"),
  $"Temperature (K)".as("temperature_k"),
  $"Specimen origin".as("specimen_origin").as[String],
  $"Sample size".as("sample_size").as[String],
  $"Data quality".as("data_quality").as[String]
  ).sort($"class", $"lifespan".desc)
species.show()

+--------+--------------------+--------------------+--------------------+-----+--------+------+--------------+-------------+---------------+-----------+------------+
|taxon_id|     scientific_name|         common_name|                 url|class|lifespan|mass_g|metabolic_rate|temperature_k|specimen_origin|sample_size|data_quality|
+--------+--------------------+--------------------+--------------------+-----+--------+------+--------------+-------------+---------------+-----------+------------+
| 2489341| Strigops habroptila|              Kakapo|https://www.ensem...| Aves|    60.0|  null|          null|         null|      captivity|      small|  acceptable|
|  132585|Anser brachyrhynchus|   Pink-footed goose|https://www.ensem...| Aves|    40.9|  null|          null|         null|           wild|     medium|  acceptable|
|    9031|       Gallus gallus|      Red junglefowl|https://www.ensem...| Aves|    30.0|2710.0|         6.005|         null|      captivity|      large|  acceptable|
|    9054| Phasianus colchicus|     Common pheasant|https://www.ensem...| Aves|    27.0|  null|          null|         null|      captivity|      large|        high|
|    9135|     Serinus canaria|        House canary|https://www.ensem...| Aves|    24.0|  13.3|      0.230065|       314.15|      captivity|     medium|  acceptable|
|    9049|      Pavo cristatus|      Indian peafowl|https://www.ensem...| Aves|    23.2|  null|          null|         null|      captivity|      large|  acceptable|
|   13146|Melopsittacus und...|          Budgerigar|https://www.ensem...| Aves|    21.0|  25.2|        0.3035|       314.15|      captivity|      large|        high|
|  211598|     Accipiter nisus|Eurasian sparrowhawk|https://www.ensem...| Aves|    20.2| 135.0|        0.9516|         null|           wild|     medium|  acceptable|
|    8790|Dromaius novaehol...|                 Emu|https://www.ensem...| Aves|    16.6|  null|          null|         null|      captivity|      large|  acceptable|
|    9157|         Parus major|           Great tit|https://www.ensem...| Aves|    15.4|  null|          null|         null|           wild|      large|  acceptable|
|   44394|Zonotrichia albic...|White-throated sp...|https://www.ensem...| Aves|    14.9|  20.2|         0.278|         null|           wild|     medium|  acceptable|
|  156563| Cyanistes caeruleus|            Blue tit|https://www.ensem...| Aves|    14.6|  null|          null|         null|           wild|     medium|  acceptable|
|    9089| Chrysolophus pictus|     Golden pheasant|https://www.ensem...| Aves|    13.4|  null|          null|         null|      captivity|      large|questionable|
|    9103| Meleagris gallopavo|         Wild turkey|https://www.ensem...| Aves|    13.0|  null|          null|         null|           wild|     medium|  acceptable|
|   59729| Taeniopygia guttata|         Zebra finch|https://www.ensem...| Aves|    12.0|  null|          null|       314.15|        unknown|      large|  acceptable|
|   40217|      Junco hyemalis|     Dark-eyed junco|https://www.ensem...| Aves|    11.3|  18.0|        0.2959|         null|           wild|      large|  acceptable|
|  194338|  Athene cunicularia|       Burrowing owl|https://www.ensem...| Aves|    11.0|  null|          null|         null|           wild|     medium|  acceptable|
|   59894| Ficedula albicollis| Collared flycatcher|https://www.ensem...| Aves|     9.8|  null|          null|         null|           wild|     medium|  acceptable|
|   93934|   Coturnix japonica|      Japanese quail|https://www.ensem...| Aves|     6.0|  null|          null|         null|        unknown|     medium|  acceptable|
|   44316|  Erythrura gouldiae|      Gouldian finch|https://www.ensem...| Aves|     6.0|  null|          null|         null|      captivity|      large|  acceptable|
+--------+--------------------+--------------------+--------------------+-----+--------+------+--------------+-------------+---------------+-----------+------------+
only showing top 20 rows

In [8]:
species.writeParquet("/data/ensembl/99/website/species_lookup.parquet")

parts of /data/ensembl/99/website/species_lookup.parquet merged!

/data/ensembl/99/website/species_lookup.parquet

In [9]:
species.distinct.writeParquet("/data/ensembl/99/website/species_lookup.parquet", true)

parts of /data/ensembl/99/website/species_lookup.parquet merged!

/data/ensembl/99/website/species_lookup.parquet

In [10]:
species.distinct.writeTSV("/data/ensembl/99/website/species_lookup.tsv", true)

parts of /data/ensembl/99/website/species_lookup.tsv merged!

/data/ensembl/99/website/species_lookup.tsv

In [11]:
val prefix_ens = "http://rdf.ebi.ac.uk/resource/ensembl/"
val prefix = "http://aging-research.group/resource/"
def ens(str: String) = "<"+prefix_ens+str.replace(" ", "_")+">"
def tax(str: String) = ens("taxon#"+str)
def pref(str: String) = "<" +prefix +str.replace(" ", "_")+">" 
def str(s: String) = s""""${s.replace("\"", "\\\"")}"""" 
    //+"^^<http://www.w3.org/2001/XMLSchema#string>"

In [12]:
def trip(s: String, p: String, o: String):List[(String, String, String, String)] = if(s==null || p == null || o == null ||
 s == "" ||  p == "" || o == "" || o=="\\N" || o.startsWith("\"\\N\"") || s == "\\N" || s == "\"\\N\"") Nil else List((s,p,o, "<" + "http://rdf.ebi.ac.uk/resource/ensembl/confidence/high" + "> ."))
def sp(taxon_id: java.lang.Integer, scientific_name: String)(p: String, o: Any) = if(taxon_id==null || o == null) Nil else {
      trip(tax(taxon_id.toString), pref(p), o.toString)++
        trip(pref(scientific_name),pref(p), o.toString) 
}

In [13]:
trs.writeTSV("/data/databases/graphdb/import/species.nt", false)

parts of /data/databases/graphdb/import/species.nt merged!

/data/databases/graphdb/import/species.nt

**Making a list of genes**<br>

In [15]:
val gene_members = spark.readTSV("/data/ensembl/99/compara/dump/gene_member.txt").toDF("gene_member_id","stable_id","version","source_name","taxon_id","genome_db_id","biotype_group","canonical_member_id",
"description","dnafrag_id","dnafrag_start","dnafrag_end","dnafrag_strand","display_label").select("stable_id", "display_label", "taxon_id", "biotype_group", "description").distinct()
gene_members.show(10)

+------------------+-------------+--------+-------------+--------------------+
|         stable_id|display_label|taxon_id|biotype_group|         description|
+------------------+-------------+--------+-------------+--------------------+
|ENSPPYG00000017407|           \N|    9601|       coding|                  \N|
|ENSPPYG00000017632|        ELMO1|    9601|       coding|engulfment and ce...|
|ENSPPYG00000017668|           \N|    9601|       coding|                  \N|
|ENSTNIG00000015267|        OTOL1|   99883|       coding|otolin 1 [Source:...|
|ENSTNIG00000007702|        mfsd1|   99883|       coding|major facilitator...|
|ENSPPYG00000018066|         WEE2|    9601|       coding|WEE2 oocyte meios...|
|ENSTNIG00000016189|      zbtb16b|   99883|       coding|zinc finger and B...|
|ENSTNIG00000016255|   zgc:152857|   99883|       coding|zgc:152857 [Sourc...|
|ENSPPYG00000000012|           \N|    9601|       coding|olfactory recepto...|
|ENSPPYG00000000045|         CNST|    9601|       coding|consortin, connex...|
+------------------+-------------+--------+-------------+--------------------+
only showing top 10 rows

In [16]:
val sm_species = species.select("scientific_name", "common_name", "taxon_id", "class")
val genes = gene_members.join(sm_species, "taxon_id").sort($"class", $"scientific_name", $"biotype_group", $"stable_id").distinct()
genes.show()

Error: not found: value species (17)Error: not found: value gene_members (99)

In [17]:
genes.writeParquet("/data/ensembl/99/website/genes_lookup.parquet", true)

parts of /data/ensembl/99/website/genes_lookup.parquet merged!

/data/ensembl/99/website/genes_lookup.parquet

In [18]:
genes.writeTSV("/data/ensembl/99/website/genes_lookup.tsv", true)

parts of /data/ensembl/99/website/genes_lookup.tsv merged!

/data/ensembl/99/website/genes_lookup.tsv

In [19]:
genes.count()

4383816